.itemDetail {
  width: 20rem;
  height: 40rem;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  background: white;
}

.tituloItemDet {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 1.5rem;
  background: white;
}

.imagenItemDet {
  width: 100%;
}

.precioItemDet {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
  background: white;
}

.detItem {
  height: 3rem;
  width: 12rem;
  font-size: 1.5rem;
  align-self: center;
}

.descDetItem {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}
