.item {
  width: 20rem;
  height: 40rem;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  background: white;
}

.tituloItem {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 1.5rem;
  background: white;
}

.imagenItem {
  width: 100%;
}

.precioItem {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
  background: white;
}

.detallesItem {
  height: 3rem;
  width: 12rem;
  font-size: 1.5rem;
  align-self: center;
}
