* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.App {
  background: rgb(214, 213, 213);
  height: 250vh;
}

.cardContainer {
  margin-top: 5rem;
}

.cardContainer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fuente {
  font-size: 2rem;
}
